# Logs
logs/
*.log

# IDE and editor directories/files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac OS files
.DS_Store

# CI/CD specific
!/.gitlab-ci.yml
!/.github/workflows/

# Temporary files
*.tmp
